h1{
	font-family: staatliches;
  }
p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size:25px;
}
a {
	font-family: staatliches;
	font-size:50px;
	
}

.col-md-3{
      font-size:20px;
}

.col-md-6{
      font-size:20px;
}